body{
background: white;
}

.header_left{
display:flex;
}


.header_right{
float: right;
position: absolute;
  right: 0px;

}


#stock_market_data_heading{
float:center;
text-align:center;	
}

#insights{
	float:right;
	text-align:right;
}

.main_header{
	background: #1f147a;
	padding-left: 10px;
	padding-right: 10px;
	display:fixed;
	margin:-10px;
	width: 100%;
	display: flex;

}

.text{
    font-weight: bold;
}

#confirmed{
    border-radius: 5px;
    cursor: pointer;
    height: 13rem;
    width: 25%;
    z-index: 10;    opacity: 1;
    background: rgba(255, 7, 58, 0.125);
    transform: translateX(0px);
}

H1,H2,H3{
color: #5454ce;
}

.column {
float: left;
width: 50%;
text-align:center;  
#background: #c8c8f1;
}


.row:after {
display: table;
clear: both;
}

.latest_stat{
width: 650px; 
height: 350px;
display:flex;
}

.pie_and_line_chart{
float:left;	
width:50%;	
height:400px;
}
#covid_info_padding{
     padding-left: 30px;
     padding-right: 30px;

}
#table_padding{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
#bar_chart_padding{
    padding-right: 30px;
    padding-left: 15px;
}
#pie_chart_padding{
    padding-left: 30px;
    padding-right: 15px;
}


.covid_line_graph_dropdown_1{
padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.mini_container {
  border-radius: 10px;
  background-color: #f9f9f9;
  margin: 10px;
  padding-left:15px;
  padding-right:15px;
  width:25%;
  text-align:center;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  text-align: center;
}
.container-display {
    display: flex;
  }
